<!DOCTYPE html>
<html>
  <head>
	{% if page.title %}
	<title>{{ page.title }} &raquo; {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}
    <!-- Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap_custom.css" rel="stylesheet" media="screen">
    <script src="http://use.edgefonts.net/istok-web:n7.js"></script>
    <script src="http://use.edgefonts.net/marvel.js"></script>
    <script src="http://use.edgefonts.net/asap.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6 offset3">
          <h1 class="hidden-phone">A blog by <a href="http://twitter.com/wovchko" target="_blank">@wovchko</a></h1>
          <h2>Inklings</h2>
          <h3>Execution <span class="lower">that</span> stands out.</h3>
          <h3>Leadership <span class="lower">that</span> fits in.</h3>
          <h3>Distinguishing Product <span class="hidden-phone">Management</span> <span class="lower">from</span> I.T. <span class="hidden-phone">Ops</span></h3>
          <h4>Ideas to align <a href="http://goo.gl/maps/pAuiF" target="_blank">Nashville's</a> <span>#</span><a href="#">Suits</a>, <span>#</span><a href="#">Developers</a>, and <span>#</span><a href="#">Designers</a>.</h4>
        </div>
        <div class="span3"></div>
      </div>
      <div class="row-fluid recent">
