<!DOCTYPE html>
<html>
  <head>
	{% if page.title %}
	<title>{{ page.title }} &raquo; {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap_custom.css" rel="stylesheet" media="screen">
    <script src="http://use.edgefonts.net/istok-web:n7.js"></script>
    <script src="http://use.edgefonts.net/marvel.js"></script>
    <script src="http://use.edgefonts.net/asap.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6 offset3">
          <h1 class="hidden-phone">A blog by <a href="http://twitter.com/wovchko" target="_blank">@wovchko</a></h1>
          <h2>Inklings</h2>
          <h3>Execution <span class="lower">that</span> stands out.</h3>
          <h3>Leadership <span class="lower">that</span> fits in.</h3>
          <h3>Distinguishing Product <span class="hidden-phone">Management</span> <span class="lower">from</span> I.T.</h3>
          <h4>Ideas to align <a href="http://goo.gl/maps/pAuiF" target="_blank">Nashville's</a> <span>#</span><a href="#">Suits</a>, <span>#</span><a href="#">Developers</a>, and <span>#</span><a href="#">Designers</a>.</h4>
        </div>
        <div class="span3"></div>
      </div>
      <div class="row-fluid recent">
        {{ content }}
        <div class="row-fluid">
          <div class="span6 offset3">
            <ul class="pager">
              <li class="previous disabled">
                <a href="#">&larr; Older</a>
              </li>
              <li class="next">
                <a href="#">Newer &rarr;</a>
              </li>
            </ul>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
    <div class="row-fluid hidden-phone hidden-tablet footer">
      <div class="span2 offset2">
        <h6>Get Funded</h6>
        <p><a href="http://startuptn.com/" target="_blank">Start-Up Tennessee</a></p>
        <p><a href="http://jumpstartfoundry.com/" target="_blank">Jumpstart Foundry</a></p>
        <p><a href="http://bullpenv.com/" target="_blank">Bullpen Ventures</a></p>
        <p><a href="http://findyourflo.com/" target="_blank">Flo Thinkery</a></p>
        <p><a href="http://solidus.com/" target="_blank">Solidus Academy</a></p>
        <p><a href="http://nashvillecapital.com/" target="_blank">Nashville Capital Network</a></p>

        <h6>Annual Events</h6>
        <p><a href="http://hacknashville.com/" target="_blank">Hack Nashville</a></p>
        <p><a href="http://productcampnashville.com/" target="_blank">Product Camp</a></p>
        <p><a href="http://podcampnashville.org/" target="_blank">Podcamp</a></p>
        <p><a href="http://nashville.coderfaire.com/" target="_blank">Coderfaire</a></p>
        <p><a href="http://rubyhoedown.com/" target="_blank">Ruby Hoedown</a></p>
        <p><a href="http://code.nashvl.org/" target="_blank">Nashville Hack Day</a></p>

        <h6>Calendars</h6>
        <p><a href="http://nashvl.org" target="_blank">Nashvl.org</a></p>
        <p><a href="http://technologycouncil.com" target="_blank">Nashville Technology Council</a></p>
      </div>
      <div class="span2">
        <h6>Meet-Ups</h6>
        <p><a href="http://groups.google.com/group/agilenashville" target="_blank">Agile/Scrum</a></p>
        <p><a href="http://groups.google.com/group/pynash/" target="_blank">Python</a></p>
        <p><a href="http://meetup.com/nashvillerails/" target="_blank">Ruby on Rails</a></p>
        <p><a href="http://nashvillephp.org/" target="_blank">PHP</a></p>
        <p><a href="http://meetup.com/nashvillejug/" target="_blank">Java</a></p>
        <p><a href="http://nashdotnet.org/" target="_blank">.NET</a></p>
        <p><a href="http://idofnashville.com/" target="_blank">Interactive Developers</a></p>

        <h6>Education</h6>
        <p><a href="http://nashvillesoftwareschool.com/" target="_blank">Nashville Software School</a></p>
        <p><a href="http://vanderbilt.edu/" target="_blank">Vanderbilt</a></p>
        <p><a href="http://belmont.edu/" target="_blank">Belmont</a></p>
        <p><a href="http://mtsu.edu/" target="_blank">Middle Tennessee State</a></p>
        <p><a href="http://tntech.edu/" target="_blank">Tennessee Tech</a></p>
        <p><a href="http://tennessee.edu/" target="_blank">University of Tennessee</a></p>
        <p><a href="http://lipscomb.edu/" target="_blank">Libscomb</a></p>
        <p><a href="http://trevecca.edu/" target="_blank">Trevecca</a></p>
      </div>
      <div class="span2">
        <h6>Co-working Spaces</h6>
        <p><a href="http://entrepreneurcenter.com/" target="_blank">Entrepreneur Center</a></p>
        <p><a href="http://espaces.com/" target="_blank">eSpaces</a></p>
        <p><a href="http://nashville.colabusa.com/" target="_blank">CoLab</a></p>
        <p><a href="http://www.regus.com/virtual-office/united-states/tennessee/nashville" target="_blank">Regus</a></p>
        <p><a href="http://www.officesuitesplus.com/locations/nashville" target="_blank">OfficeSuites+</a></p>

        <h6>Quiet Places to Work</h6>
        <p><a href="http://crema-coffee.com/" target="_blank">Crema</a> in SoBro,
           <a href="http://provencebreads.com/" target="_blank">Provence Breads &amp; Cafe</a> in Green Hills, 
           <a href="http://fidospecials.blogspot.com/" target="_blank">Fido</a> in Hillsboro Village, 
           <a href="http://baristaparlor.com/" target="_blank">Barista Parlor</a> in East Nashville, 
           <a href="http://frothymonkeynashville.com" target="_blank">Frothy Monkey</a> in 12 South, 
           <a href="http://dosecoffeeandtea.com/" target="_blank">Dose Coffee &amp; Tea</a> in West End, 
           <a href="http://casablancacoffee.com/" target="_blank">Casablanca Coffee</a> in The Gulch, 
           <a href="http://windfarmcafe.com/" target="_blank">Wind Farm Cafe</a> in Spring Hill, 
           <a href="http://merridees.com/" target="_blank">Merridee's</a> in Downtown Franklin, 
           <a href="http://jchristophers.com/locations-results.php?searchzip=37067" target="_blank">J. Christopher's</a> in Cool Springs</p>
      </div>
      <div class="span2">
        <h6>Powered by</h6>
        <p>Served by <a href="http://pages.github.com/" target="_blank">Github Pages</a></p>
        <p>Responsive with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></p>
        <p>Coded in <a href="http://validator.w3.org/check?uri=http%3A%2F%2Finklin.gs%2F&charset=utf-8&doctype=HTML5&group=0" target="_blank">HTML5</a> &amp; <a href="http://pragmaticstudio.com/ruby/" target="_blank">Ruby</a></p>
        <p>Content managed via <a href="http://github.com/mojombo/jekyll/" target="_blank">Jekyll</a></p>
        <p>Typefaces by <a href="http://html.adobe.com/edge/webfonts/" target="_blank">Adobe Edge Fonts</a></p>
        <p>Monitored by <a href="http://pingdom.com" target="_blank">Pingdom</a></p>
        <p>Analyzed with <a href="http://www.google.com/analytics/" target="_blank">Google</a></p>
        <p>Planned with <a href="http://leankit.com" target="_blank">Leankit Kanban</a></p>
        <p>Evangelized through <a href="http://myemma.com" target="_blank">Emma</a></p>
        <p>Links by <a href="http://github.com/mrtazz/katana" target="_blank">Katana</a> on <a href="http://heroku.com" target="_blank">Heroku</a></p>
        <p>DNS by <a href="http://zerigo.com/managed-dns/" target="_blank">Zerigo</a></p>
        <p>Database by <a href="http://redis.io/" target="_blank">Redis</a></p>

        <h6>Social</h6>
        <p><a href="http://github.com/wovchko" target="_blank">Github</a></p>
        <p><a href="http://twitter.com/wovchko" target="_blank">Twitter</a></p>
        <p><a href="http://linkedin.com/in/wovchko" target="_blank">LinkedIn</a></p>
        <p><a href="http://stackoverflow.com/users/1678201/wovchko" target="_blank">Stack Overflow</a></p>
      </div>
      <div class="span2"></div>
    </div>
    <div class="row-fluid credits">
       <div class="span12 hidden-phone">
         <span>Strategeritized in <a href="http://goo.gl/maps/pAuiF" target="_blank">Nashville, TN &mdash; USA</a></span>
         <a href="http://twitter.com/wovchko" target="_blank"><img src="images/footer_wovchko.png" width="75" height="75" border="0" /></a>
         <span><a href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US" target="_blank">&copy;2012 Brendan Wovchko (CC BY-ND 3.0)</a></span>
       </div>
    </div>
    <div class="row-fluid visible-phone">
      <h1>A blog by <a href="http://twitter.com/wovchko" target="_blank">@wovchko</a>.</h1>
    </div>
  </body>
</html>
