---
layout: index
---
     <div class="row-fluid">
       <div class="span6 offset3">
         <h5>{{page.title}}</h5>
         <p>Posted on {{ page.date | date: "%d %B %Y" }}</p>
         <p>{{ content }}</p>
       </div>
       <div class="span3"></div>
     </div>
     <div class="row-fluid">
       <div class="span6 offset3">
         {% if page.tags != empty %}
             <h5>Tags</h5>
             <ul>
             {% for tag in page.tags %}
               <li>{{ tag }}</li>
             {% endfor %}
             </ul>
         {% endif %}
         {% if site.related_posts != empty %}
             <h5>Related Posts</h5>
               <ul>
               {% for post in site.related_posts limit:3 %}
               <li><a href="{{ post.url }}">{{ post.title }}</a></li>
               {% endfor %}
               </ul>
         {% endif %}
       </div>
       <div class="span3"></div>
     </div>
